[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "==2.3.0"
pillow = "*"
tfx = "==0.26.0"
jupyterlab = "*"

[dev-packages]
autopep8 = "*"
flake8 = "*"

[requires]
python_version = "3.7"

[scripts]
generate = "python tfrecord_generator.py"
